<div class="app-container">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">Wedding RSVP Manager</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="sidenav">
      <div class="sidenav-header">
        <div class="sidenav-title">Wedding RSVP</div>
        <div class="sidenav-subtitle">Management Portal</div>
      </div>
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="sidenav.close()"
        >
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Dashboard</span>
        </a>
        <a
          mat-list-item
          routerLink="/invitees"
          routerLinkActive="active-link"
          (click)="sidenav.close()"
        >
          <mat-icon matListItemIcon>people</mat-icon>
          <span matListItemTitle>Invitees</span>
        </a>
        <a
          mat-list-item
          routerLink="/messages"
          routerLinkActive="active-link"
          (click)="sidenav.close()"
        >
          <mat-icon matListItemIcon>message</mat-icon>
          <span matListItemTitle>Message Templates</span>
        </a>
        <a
          mat-list-item
          routerLink="/responses"
          routerLinkActive="active-link"
          (click)="sidenav.close()"
        >
          <mat-icon matListItemIcon>check_circle</mat-icon>
          <span matListItemTitle>RSVP Responses</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <router-outlet /> -->
